.data-status {
    position: absolute;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    container-name: data-status-container;
    container-type: inline-size;
    background-color: var(--bg-1);
    @container app-container (min-width: 1px) {
        top: 10cqw;
        left: 50cqw;
        width: 44cqw;
        height: 22cqw;
        border-radius: 0.2cqw;
    }
}

@keyframes brightness-toggle {
    0% {
        filter: brightness(1.5);
    }
    50% {
        filter: brightness(3);
    }
    100% {
        filter: brightness(1.5);
    }
}

.data-status__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1cqw;
    filter: opacity(0.24)
}

.data-status__icon {
    @container data-status-container (min-width: 1px) {
        width: 20cqw;
        height: 20cqw;
    }
    & > img {
        width: 100%;
    }

    &.brightness-animate {
        animation-name: brightness-toggle;
        animation-timing-function: ease-in-out;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

.data-status__text {
    @container data-status-container (min-width: 1px) {
        font-size: 2cqw;
    }
    color: var(--white);
    font-weight: 500;
}
