.ring {
    position: absolute;
    border: 1.5px solid var(--blue-1);
    border-radius: 50%;
    pointer-events: none;
    aspect-ratio: 1;
    transition: border-color 1s linear;
    background-color: var(--bg-2);
}

@keyframes slideIn {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    100% {
        transform: translateY(var(--slide-in-offset));
        opacity: 1;
    }
}

.ring-performance-score {
    border-radius: 50%;

    @container performance-container (min-width: 1px) {
        width: 82cqw;
    }
}

.ring-item {
    /* display: none; */
    cursor: pointer;
    /* margin-inline: 10px; */
    border-radius: 50%;
    aspect-ratio: 1;
    position: absolute;
    transform: scale(var(--scale));
    /* transform-origin: center; */
    pointer-events: auto;
    background-color: var(--item-color);
    container-name: ring-item-container;
    container-type: inline-size;

    &.popup {
        animation: popup 0.5s linear 1.5s 1 forwards;
    }

    @container app-container (min-width: 1px) {
        width: 6cqw;
    }
}

@keyframes popup {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes selected {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        background-color: var(--bg-2);
        border: calc(1cqw/6) solid var(--item-color);
    }
}

@keyframes notSelected {
    0% {
        /* border: 1.5px solid var(--item-color); */
        transform: scale(1);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        background-color: var(--bg-2);
        border: calc(1cqw/6) solid var(--gray-1);
    }
}

.ring-item__name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    color: var(--white);
    text-align: center;
    font-weight: 300;
    opacity: 0;
    animation: slideInName 1s linear 1.5s 1 forwards;

    @container ring-item-container (min-width: 1px) {
        font-size: max(35cqw, 12px);
        top: 200cqw;
        width: var(--item-name-width);
    }
}

@keyframes slideInName {
    0% {
        opacity: 0;
        top: 300cqw;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        top: 120cqw;
    }
}

.ring-item__score {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    color: var(--white);
    text-align: center;

    @container ring-item-container (min-width: 1px) {
        font-size: max(30cqw, 10px);
    }
}

.ring-branches {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    opacity: var(--branch-opacity);

    &.branch-fade-in {
        animation: branch-fade-in 2s linear 1s 1 forwards;
    }
}

@keyframes branch-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.ring-branches__branch {
    transform-origin: left;
    background: var(--branch-color);
    height: calc(1cqw/3);
    position: absolute;
    left: var(--branch-left);
    top: var(--branch-top);
    width: var(--branch-width);
    transform: var(--branch-transform);
    &.dashed {
        background-color: transparent;
        border-top: 2px dashed var(--branch-border-color);
    }
}

.ring-item__previous {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    color: var(--gray-7);
    text-align: center;
    font-weight: 300;
    opacity: 0;
    animation: slideInPrevious 1s linear 1.5s 1 forwards;
    
    @container ring-item-container (min-width: 1px) {
        font-size: max(32cqw, 11px);
        top: 300cqw;
    }
}

.ring-item__previous__diff {
    color: var(--prev-color);
}

.ring-item__previous__title {
    margin-left: 2px;
    @container ring-item-container (min-width: 1px) {
        width: 315cqw;
    }
}

@keyframes slideInPrevious {
    0% {
        opacity: 0;
        top: 400cqw;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        top: 180cqw;
    }   
}