.app {
  background-color: white;
  height: 100%;
}

.ring-container {
  padding: 50px;
  border: solid 1px black;
  position: relative;
  height: 50%;
}

.ring {
  margin-block: 10px;
  display: flex;
  gap: 10px;
  background-color: white;
  border: 1px solid red;
  position: absolute;
}

@keyframes slideIn {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(var(--slide-in-offset));
  }
}

.ring-item {
  cursor: pointer;
  margin-inline: 10px;
  border: 2px dashed red;

  &.popup {
    animation: popup 1s linear 0.5s 1 forwards;
  } 
}

@keyframes popup {
  0% {
      transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}
