*, *::before, *::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  --white: rgb(255, 255, 255);
  --bg-1: rgb(22, 22, 22);
  --bg-2: rgb(19, 19, 19);
  --bg-3: rgb(0, 0, 0, 0.7);
  --bg-4: rgb(17, 17, 17);
  --ring-0: rgb(19, 19, 19);
  --ring-1: rgb(16, 16, 16);
  --ring-2: rgb(13, 13, 13);
  --blue-1: rgb(12, 91, 128);
  --blue-2: rgb(0, 175, 255);
  --blue-3: rgb(23, 157, 217);
  --gray-1: rgba(255, 255, 255, 0.07);
  --gray-2: rgba(255, 255, 255, 0.3);
  --gray-3: rgb(124, 124, 124);
  --gray-4: rgb(40, 40, 40);
  --gray-5: rgb(102, 102, 102);
  --gray-6: rgb(69, 69, 69); 
  --gray-7: rgb(148, 148, 148);
  --item-1: rgb(255, 46, 46);
  --item-2: rgb(233, 156, 22);
  --item-3: rgb(25, 159, 15);
  --item-1-mild: rgba(255, 46, 46, 0.3);
  --item-2-mild: rgba(233, 156, 22, 0.3);
  --item-3-mild: rgba(25, 159, 15, 0.3);
}
