*, *::before, *::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  --white: rgb(255, 255, 255);
  --bg-1: rgb(22, 22, 22);
  --bg-2: rgb(19, 19, 19);
  --gray-1: rgba(255, 255, 255, 0.10);
  --blue-1: rgb(12 91 128);
  --gray-1: rgba(255, 255, 255, 0.07);
  --item-1: rgb(255, 46, 46);
  --item-2: rgb(233, 156, 22);
  --item-3: rgb(25, 159, 15);
}
