.score-ring {
    background: linear-gradient(180deg, rgba(26, 59, 73, 0.00) 66.6%, #1F556D 100%);
    position: absolute;
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;

    @container app-container (min-width: 1px) {
        width: var(--score-ring-width);
    }
}

.score-ring-dotted-bg {


    position: absolute;
    z-index: 2;
    inset: 0;
}

@keyframes slideInScoreRing {
    0% {
        transform: translate(-50%, 0);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, var(--slide-in-score-ring-offset));
        opacity: 1;
    }
}

/* @keyframes slideInExtra {
    0% {
        transform: translate(-50%, var(--slide-in-score-ring-offset));

    }

    100% {
        transform: translate(-50%, var(--slide-in-extra));
        opacity: 1;
    }

} */

.score-ring__info {
    position: absolute;
    top: 100%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @container performance-container (min-width: 1px) {
        gap: 1cqw;
    }
}

@keyframes move-up-score-info {
    0% {
        transform: translate(-50%, -120%);
    }

    100% {
        transform: translate(-50%, -125%);
    }
}

@keyframes move-down-score-info {
    0% {
        transform: translate(-50%, -125%);
    }

    100% {
        transform: translate(-50%, -120%);
    }
}

.score-ring__meter {
    aspect-ratio: 2/1;
    @container performance-container (min-width: 1px) {
        width: max(calc(100cqw/5), 120px);
    }
}

.score-ring__text {
    display: flex;
    align-items: center;
    gap: 0.5cqw;
}

.text__title {
    color: var(--white);

    @container performance-container (min-width: 1px) {
        font-size: max(2cqw, 14px);
        line-height: 1;
    }
}

.text__i {
    display: flex;
    aspect-ratio: 1;

    @container performance-container (min-width: 1px) {
        width: max(2cqw, 12px);
    }

    &>img {
        width: 100%;
        height: 100%;
    }
}

.score-ring__previous {
    display: flex;
    background-color: var(--gray-1);

    @container performance-container (min-width: 1px) {
        padding: 0.64cqw 1cqw;
        border-radius: 0.64cqw;
        gap: 0.64cqw;
    }
}

.previous__diff {
    color: var(--prev-color);
    @container performance-container (min-width: 1px) {
        font-size: max(1.8cqw, 12px);
    }
}

.previous__title {
    color: var(--white);
    @container performance-container (min-width: 1px) {
        font-size: max(1.8cqw, 12px);
    }
}